*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
}
header{
    background-color: cornflowerblue;
    height: 4rem;
    padding: 1rem 0;
}
#logoimage{
    height: 2.5rem;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: greenyellow;
}
nav{
    display: none;
}
.Container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1 rem;
}
header .Container{
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
}
.product img{
    width: 100%;
}
.product{
    border: 5px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: aqua;
}
.rating{
    color: yellow;
}
.pricebutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.Button{
    background-color: green;
    padding: 0.25rem;
    border: none;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    transition: all ease-in 0.5s;

}
.Button:hover{
    background-color: lightgreen;
}
#productlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 2rem;
}


/* styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    #productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #menubutton{
        display: none;
    }
    nav {
        display: block;
        
    }
    nav ul{
display : flex;
flex-direction : row;
justify-content : space-between;
align-items: center;
gap: 1.5rem;
list-style: none;
    }
    #Container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    
    nav a{
        color: white;
        text-decoration: none;
    }
    #productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    

}
/* styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    #productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

/* styles for screens between 1200px and larger (Extra large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */


}
